.header {
    position: fixed;
    background-color: transition;
    width: 100%;
    padding: 2rem 0;
    transition: .3s;
    z-index: 2;
}

.header.scroll {
    background-color: #282829;
    padding: 1.5rem 0;
    box-shadow: 0px 5px 148px -50px rgba(0,0,0);
}

.header-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    font-size: 3rem;
    cursor: pointer;
}

.header__navigation {
    flex: 0 0 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s;
}

.header__navigation__content {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
    transition: .3s;
}

.header__navigation__item {
    text-align: center;
}

.header__navigation__item__link {
    color: #282829;
    font-size: 2rem;
    font-weight: 300;
    transition: .3s;
    color: white;
}

.header__navigation__item__link:hover {
    color: #F26935;
}

.show {
    height: calc(2.3rem * 4 + 2rem * 3 + 2rem * 2);
    overflow: visible;
    opacity: 1;
    z-index: 1;
}

@media (min-width: 768px){

    .header-flex {
        align-items: center;
        flex-wrap: nowrap;
    }

    .header__navigation {
        flex: 0 0 auto;
        height: auto;
        overflow: visible;
        opacity: 1;
    }

    .header__navigation__content {
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-menu {
        display: none;
    }
}