.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
} 

.header__image {
    width: 8rem;
}

.header__logo__name {
    display: flex;
    flex-direction: column;
}

.header__logo__name__first {
    color: #282829;
    font-size: 4rem;
    font-weight: bold;
    color: #F26935;
}

.header__logo__name__second {
    color: white;
    font-size: 1.5rem;

}